
<!-- Note -->


<!-- Navigation Bar -->
 <!--navbar-->
				 
				<div class="navig">
					  
            <div class="navig-header"><a href="#">QA Engine</a></div>
            <div class="search">

                <form>
    
                  <input type="text" placeholder="Search.....">
                  
                  <button>Search</button>
                  
    
                </form>
    
              </div>
				   
					 <div class="bar">
					 
						 <a href="#">Home</a>

						 <a href="#">Contact</a>

						 <a href="#">About</a>
						 
						 <a routerLink=""> Logout</a>
					
					  </div>
					

				</div>
<!-- The flexible grid (content) -->

 
    
<!--card user-->

<div class="container">
<div class="card   " style="width: 15rem; ">
    <div class="card-body">
     
      <a href="#" class="btn2 btn-primary">&#43; Ask a Question</a>
      <br><br>
    </div>
  </div>
  
  <div class="card  " style="width: 15rem; ">
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">Questions</li>
        <li class="list-group-item">Tags</li>
        <li class="list-group-item">Users</li>
      </ul>
    </div>
  
  <div class="card" style="width: 15rem; ">
    <div class="card-body">
      <br>
    </div>
  </div>
</div>


<div class="container1">
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
          </div>
    </div>
    <div class="card-body">
       

        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


    </div>
  </div>
</div>
