<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Note -->


<!-- Navigation Bar -->
 <!--navbar-->
				 
				<div class="nav">
					  
                      <div class="nav-header"><a href="#">QA Engine</a></div>
                      <div class="search">

                            <form>
    
                                <input type="text" placeholder="Search.....">
                                
                                <button>Search</button>
                                
    
                            </form>
    
                        </div>
				   
					 <div class="bar">
					 
						 <a href="#">Home</a>

						 <a href="#">Contact</a>

						 <a href="#">About</a>
						 
						 <a routerLink="Login"> Login</a>
					
					  </div>
					

				</div>
<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
  
   
    <button  class="btn"  (click)="Login()"> <span>&#43;</span> Ask A Question</button> 
    <h5>Photo of me:</h5>
    <div class="block" style="height:200px;"> #</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="block" style="height:60px;"> #</div><br>
    <div class="block" style="height:60px;"> #</div><br>
    <div class="block" style="height:60px;"> #</div>
  </div>
  <div class="main">
     
        <div class="container">	
                <div class="card" style="width:800px" >
                   
                   <div class="card-body">
                     <h4 class="card-title">John Doe</h4>
                     <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                     <a href="#" class="btn btn-primary">See Profile</a>
                   </div>
                 </div>
                 </div>
                 <br>



    <h2>Question #</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="block" style="height:200px;">Answer #</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>Question #</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="block" style="height:200px;">Answer #</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>


    

</body>
</html>

